<%- include('header') %>
  <div class="wrapper">
    <h1><a href="/">익명게시판</a></h1>
    <% newPosts.forEach(viewpost => { %>
    <div class="deleteList">
      <p class="title"><%= viewpost.id %></p>
      <p class="title"><%= viewpost.title %></p>
      <form id="form-delete" action="/deletepost/<%= viewpost.id %>" method="post">
        <input form="form-delete" type="submit" value="삭제하기" class="deleteBtn">
      </form>
    </div>
    <% }) %>
  </div>
<%- include('footer') %>