<%- include('header') %>
  <div class="wrapper">
    <h1>익명게시판</h1>
    <div class="wrapper-btn">
      <a href="/newpost">
      <input type="submit" value="새글 작성하기" class="newpost"></a>
      <a href="/deletepost">
        <input form="form-delete" type="submit" value="삭제관리" class="deleteBtn"></a>
    </div>
    <div class="wrapperCard">
      <% newPosts.forEach(viewpost => { %>
      <a class="ui card" href="/viewpost/<%= viewpost.id %>">
        <div class="content">
          <div class="meta">
          <span class="right floated"><%= viewpost.date %></span>
            <div class="left"><%= viewpost.id %> /</div> 
          </div>
          <div class="header"><%= viewpost.title %></div>
          
          
          <div class="description">
            <p><%= viewpost.text %></p>
          </div>
        </div>
        <div class="extra content">
          <div class="right floated author">
            <img class="ui avatar image" src="/static/nan.jpg"><%= viewpost.profile %>
          </div>
        </div>
      </a>
      <% }) %>
    
    </div>
    
  </div>
<%- include('footer') %>