<%- include('header') %>
  <div class="wrapper">
    <h1><a href="/">익명게시판</a></h1>
    <h2><%= viewpost.title %> </h2>
    
    <p><%= viewpost.text %></p>
    <hr>
    <div class="wrapper-btn">
    </div>

     <form action="/comment/<%= viewpost.id %>" method="post" id="comment">
        <input type="text" name = "comment" placeholder ="여기에 댓글을 입력하면되지롱!" class="commentForm">
        <input type="submit" value="댓글달기" class="commentBtn">
    </form>
    
    <div class="commentBox">
      <div class="commentList ui grid">
      <% commentIn.forEach(a => { %>
        <div class="thirteen wide column"><%= a.comment %></div>
        <div class="one wide column leftAlign">익명</div>
        <div class="two wide column leftAlign"><%= a.date %></div>
      <% }) %>
      </div>
    </div>
  </div>
<%- include('footer') %>